.background-wrapper{
    width: 100%;
    height: 745px;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: top;
    position: relative;
}
.menu-wrapper{
    width: 100%;
    overflow: hidden;
}
.menu{
    width: 880px;
    margin: 75px auto;
}
.link-image{
    text-decoration: none;
    float: left;
    padding: 0px 69px;
    margin-top: -25px;
}
.link-decoration{
    float: left;
    margin: 0px 33px 0px 50px;
}
.bg-descirption{
    min-height: 135px;
    width: 502px;
    margin-top: 195px;
    margin-left:391px;
}
.social-menu-wrapper{
    width: 100%;
    position: absolute;
    bottom: 20px;
}
.social-menu{
    width: 130px;
    margin: 0px auto;
}
.socials-link{
    padding: 0px 10px;
    float: left;
}
.present-body-wrapper{
    position: relative;
    min-height: 493px;
    width: 100%;
    background-color: #f8f7f7;;
}
.present-body{
    min-height: 320px;
    width: 35%;
    margin-left:100px;
    padding-top: 133px;
    float: left;
}
.present-body-content{
    height: auto;
    padding: 42px 0px 20px 0px;
}
.present-image-hand {
    position: absolute;
    padding-top: 100px;
    height: 100%;
    overflow: hidden;
    right: 130px;
}

.design-body-wrapper{
    position: relative;
    min-height: 493px;
    width: 100%;
}
.design-body{
    min-height: 320px;
    width: 35%;
    margin-right:146px;
    padding-top: 133px;
    float: right;
}
.design-body-content{
    height: auto;
    padding: 42px 0px 20px 0px;
}
.design-image-hand {
    position: absolute;
    padding-top: 153px;
    height: 100%;
    overflow: hidden;
    left: 120px;

}
.lt,.gt{
    text-decoration: none;
    color: black;
}
.next-menu{
    margin-top: 45px;
}
.slider-wrapper{
    position: relative;
    background-color: #f8f7f7;;
    width: 100%;
    height :484px;
}
.slider{
    width: 1191px;
    height: 484px;
    margin: 0px auto;
}
.next-menu-slider{
    position: absolute;
    right: 95px;
    top: 95px;
}
.slider-conetnt{
    float: left;
    margin:121px 12px;
    width: 373px;
    height: 243px;
}

.slider-text{
    text-align: center;
    line-height: 30px;
}
.subscribe-wrapper{
    overflow: hidden;
    width: 100%;
    height: 792px;
    background-image: url(../images/camerahold.png);
    background-size: cover;
    background-position: top;
}
.subscribe{
    width: 43%;
    margin: 0px auto;
    text-align: center;
    margin-top:352px;
}
.sub-header{
    margin-bottom: 37px;
}
.btn-green{
    float: left;
    margin: 0px 14px;
}
.download-wrapper{
    overflow: hidden;
}
.download{
    height: 193px;
    width: 60%;
    margin: 91px auto 122px auto;
    text-align: center;
}
.download-btn{
    margin: 35px auto;
    width: 71%;
    height: 58px;
}
.dowload-store{
    margin-right: 10px;
}
.store-content{
    float: left;
    height: 58px;
    width: 200px;
    background-color: teal;
}
.store-content-link{
    padding:20px 0px;
    height: 58px;
    width: 200px;
    text-decoration: none;
    color: #ffffff;
    display: block;
}
.footer-wrapper{
    height: 132px;
    width: 100%;
}
.footer-item{
    list-style: none;
    float: left;

}
.footer-link{
    text-decoration: none;
    color: black;
    padding:0px 5px;
}
.footer-content{
    width: 80%;
    margin: 0px auto;
    padding:50px 0px;
}
.footer-image{
    float: right;
}
.copy-right{
    padding: 15px 5px;
}
.pdt-10{
    margin-top: 20px;
}
.pd-10{
    padding:3px
}