.background-wrapper{
    width: 100%;
    height: 745px;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: top;
    position: relative;
}
.menu-wrapper{
    width: 100%;
}
.menu{
    width: 760px;
    margin: 0PX auto;
}
.link-image{
    text-decoration: none;
    float: left;
    padding: 40px 69px;
}
.link-decoration{
    float: left;
    padding: 75px 33px 0px 50px;
}
.bg-descirption{
    min-height: 135px;
    width: 502px;
    margin-top: 225px;
    margin-left:391px;
}
.social-menu-wrapper{
    width: 100%;
    position: absolute;
    bottom: 20px;
}
.social-menu{
    width: 130px;
    margin: 0px auto;
}
.socials-link{
    padding: 0px 10px;
    float: left;
}
.present-body-wrapper{
    position: relative;
    min-height: 493px;
    width: 100%;
    background-color: dimgrey;
}
.present-body{
    min-height: 320px;
    width: 35%;
    margin-left:100px;
    padding-top: 133px;
    float: left;
}
.present-body-content{
    height: auto;
    padding: 42px 0px 20px 0px;
}
.present-image-hand {
    position: absolute;
    padding-top: 100px;
    height: 100%;
    overflow: hidden;
    right: 130px;
}

.design-body-wrapper{
    position: relative;
    min-height: 493px;
    width: 100%;
}
.design-body{
    min-height: 320px;
    width: 35%;
    margin-right:146px;
    padding-top: 133px;
    float: right;
}
.design-body-content{
    height: auto;
    padding: 42px 0px 20px 0px;
}
.design-image-hand {
    position: absolute;
    padding-top: 153px;
    height: 100%;
    overflow: hidden;
    left: 120px;

}
.next-menu{
    padding-top: 45px;
}
.slider-wrapper{
    background-color: gray;
    width: 100%;
    height :484px;
}
.slider{
    width: 1191px;
    height: 250px;
    margin: 0px auto;
}
.slider-conetnt{
    float: left;
    margin:121px 12px;
    width: 373px;
    height: 243px;
}
.slider-text{
    padding-top:50px;
    text-align: center;
    line-height: 30px;
}
.subscribe-wrapper{
    width: 100%;
    height: 792px;
    background-image: url(../images/camerahold.png);
    background-size: cover;
    background-position: top;
    position: relative;
}
.subscribe{
    width: 43%;
    margin: auto;
    text-align: center;
    padding-top: 352px;
}
.btn-green{
    float: left;
    margin: 0px 14px;
}
.download{
    height: 400px;
    width: 60%;
    margin: 0px auto;
    text-align: center;
    padding-top: 130px;
}
.download-btn{
    margin: 35px auto;
    width: 68%;
    height: 58px;
}
.dowload-store{
    margin-right: 10px;
}
.store-content{
    float: left;
    height: 35px;
    width: 200px;
    background-color: teal;
}
.footer-wrapper{
    height: 132px;
    width: 100%;
}
.footer-item{
    list-style: none;
    float: left;

}
.footer-link{
    text-decoration: none;
    color: black;
    padding:0px 5px;
}
.footer-content{
    width: 80%;
    margin: 0px auto;
    padding:50px 0px;
}
.footer-image{
    float: right;
}
 