.background-wrapper{
    background-image: url(../images/bg.png);
}
.link-decoration{
    text-decoration: none;
    color: #ffffff;
}
.menu-item{
    list-style: none;
}
.decription-content{
    text-align: center;
    color: #ffffff;
}
h1 {
    padding: 5px 0;
}
h3{
    padding: 10px 0px;
}

.btn {
    padding: 10px 30px;
    background-color: teal;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.tick {
    padding: 10px;
    border-radius: 0px;
    height: 63px;
}
.img-btn {
    padding: 10px;
    border-radius: 0px;
    height: 58px;
}

input{
    width: 282px;
    min-height: 62px;
    padding-left: 10px;
    border-radius: 0px;
    border: 1px solid #ffffff;
}
.download-wrapper{
    background-color: #f8f7f7;
}
.br-teal{
    border-right:1px solid teal;
}
.text-white{
    color: #ffffff;
}
.text-teal{
    color: aquamarine;
}
.slider-wrapper{
    background-color: #f8f7f7;
    border: 1px solid #f8f7f7;
}
.subscribe-wrapper{
    background-image: url(../images/camerahold.png);
}
.store-content{
    background-color: teal;
}
