.link-decoration{
    text-decoration: none;
    color: #ffffff;
}
.menu-item{
    list-style: none;
}
.decription-content{
    text-align: center;
    color: #ffffff;
}
h1 {
    padding: 10px 0;
}
h3{
    padding: 10px 0px;
}

.btn {
    padding: 10px 30px;
    background-color: teal;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.tick {
    padding: 10px;
    border-radius: 0px;
}

input{
    width: 282px;
    height: 35px;
    padding-left: 10px;
    border-radius: 0px;
    border: none;
}
.download-wrapper{
    background-color: grey;
}
.br-teal{
    border-right:1px solid teal;
}